.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.button-row {
  display: flex;
  justify-content: space-between; /* Change to space-between */
  margin-bottom: 16px;
}

/* Add style for the Delete button */
.delete-btn {
  display: none;
}

button {
  background-color: #f2f2f2;
  border: none;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d9d9d9;
}


  