.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 44px;
    z-index: 1000;
    background-color: #3a3a3a;
    transition: background-color 0.5s ease;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar:hover {
  background-color: rgb(18, 18, 18);
  }

  .navbar a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    color: #bbb0b0; /* Slightly lighter gray */
    text-decoration: none;
    transition: color 0.5s ease; /* Add transition to text color */
  }
  
  .navbar a:hover {
    color: #fff; /* Transition to white */
    background-color: transparent; /* Remove background color change */
  }

